<div class="jumbotron">
  <div class="page-header">
    <h1>Welcome!</h1>
  </div>
  <p>Anecdotal Notes are a great way for teachers to track student progress in many different contexts.</p>
  <p>This webtool streamlines the process by allowing teachers to keep notes on individual students without the need for a large binder or sticky notes!</p>
  <a href=<%= new_user_registration_url %>><button type="button" name="button" class="btn btn-primary">Get Started!</button></a>
</div>
