<div class="col-md-10 col-md-offset-1 welcomepage">
  <p>
    Anecdotal notes can be used to keep records of individual student skills and behaviors over time.  A system of keeping these notes lets teachers document and review ongoing patterns or student development over time, and can be useful to share with the student, parents or administrators.
  </p>
  <p>
    Typically, these systems involve large binders with dividers for each student, and a system of filing with sticky notes or labels.  Such systems, while incredibly useful in the classroom can become unweildy over time.
  </p>
  <p>
    <strong>This system,</strong> is a digital implementation of  those large notebooks allowing users to quickly and easily keep individual notebooks for every student in every class.  Notes can be viewed by student and can easily be sorted using tags
  </p>
  <a href=<%= new_user_registration_url %>><button type="button" name="button" class="btn btn-primary">Try it out now!</button></a>
  </div>
