
<h3>Adding Classes and Students</h3>
<p>
  Create new classes and then add students to them from your <%= link_to "profile page", current_user %>.
</p>
<h3>Creating Notes</h3>
<p>
  To add student notes, select the student from the dropdown menu on the new note page, type a note, add optional tags and then click "create note"
</p>
<h3>Viewing Notes</h3>
<p>
  To view notes, go to the class and then select a student to view.  If notes have been created with tags, you can filter the notes by tag on the student's view page.  You can edit notes and add or remove tags from this page as well by clicking the edit symbol on the top right of each note.
</p>
<h3>General Tips:</h3>
<ul>
  <li>Record your notes as soon as possible following observation.  If you teach using a tablet or if your admins allow you to use your phone for classroom use you can add notes quickly while walking around the room.</li>
  <li>You can use as many tags as you like on each note, but using too many can reduce their usefulness</li>
  <li>Elementary teachers should consider using tags for the various contexts in the classroom such as "Math", "Learning Centers" or "Buddy Reading" </li>
  <li>Teachers should also consider using tags to differentiate between notes on different topics such as "Behavior" or "Learning Goals"</li>
</ul>
