<div class="row">
  <% if user_signed_in? %>
  <div class="col-md-8">
    <%= render "layouts/new_note_form" %>
  </div>
  <div class="col-md-4 homepage-sidebar">
    <h3>Select Class:</h2>
    <ul>
      <% @student_groups.each do |group| %>
        <li><%= link_to group.name, student_group_homepage_path(group.id) %></li>
      <% end %>
      <li></li>
    </ul>
  </div>
  <% else %>
    <%= render "welcome_page" %>
  <% end %>
</div>
