<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to Anecdotal Notes, <%= @user.name.capitalize %>!</h1>
  <p>your account has been successfully created, you can log-in with your email address <%= link_to "here", @url %></p>

  <p>feel free to play around with the sample class and students that we've set up for you, or jump right in and create your classes and students from your user profile page!</p>

</body>
</html>
