//import fonts
@import 'https://fonts.googleapis.com/css?family=Nixie+One|Ubuntu:300,700';

// variables and things:
$blue:  #4898BD;
$white: #f0f0f0;
$black: #222222;
$red: #ED303C;
$header-font: "Nixie One";
$main-font: "Ubuntu";

@mixin box-shadow($x,$y) {
  -webkit-box-shadow: 0px 0px $x 0px rgba(0,0,0,$y);
  -moz-box-shadow: 0px 0px $x 0px rgba(0,0,0,$y);
  box-shadow: 0px 0px $x 0px rgba(0,0,0,$y);
}


//main config
body {
  background-color: $blue;
  color: $black;
  font-family: $main-font;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $header-font;
}

.main-body {
  background-color: $white;
  margin-top: 50px;
  padding-bottom: 25px;
  @include box-shadow(15px,.25);
}
strong{
  font-weight: 700;
}
.alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 22px;
  display: inline-block;
  padding-bottom: 2px;
  z-index: 7000;
  text-align: center;
  margin:0;
  padding-top:0;
  border-radius: 0;
  background-color: $red;
  border-color: $red;
  color: $white;
}

// header
.header-nav {
  list-style-type: none;
  margin-top: 24px;
  font-size: 16px;
  text-align: right;
  li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }
}
.dropdown {
  position: relative;
  float: right;
}

//home page
.jumbotron {
  background-color: transparent;
}

.new_student_note {
  textarea {
    height: 150px;
    width: 100%;
  }
  .goto-class-link {
    float:right;
  }

}

.homepage-sidebar {
  text-align: right;
  margin-top: -35px;
  ul {
    list-style-type: none;
    li {
      font-size: 16px;
    }
  }
}
// view student page:
.student-notes {
  list-style-type: none;
  margin:auto;
  padding: 0;
  li{
    border: 1px solid $black;
    border-radius: 3px;
    margin-bottom: 10px;
    min-height: 25px;
    padding: 5px;
    @include box-shadow(5px,.15);
    .contexts {
      border-top: 1px solid $black;
      padding: 5px;
    }
    .date {
      border-bottom: 1px solid $black;
    }
    .content {
      padding: 5px;
    }
    .links {
      text-align: right;
      margin-top: -20px;
      padding-bottom: 5px;
      * {
        padding-left: 8px;
      }
    }
  }
}

.context-list {
  text-align: center;
  ul {
    list-style-type: none;
    padding:0;
  }
}

// edit notes page
.edit_student_note {
  input, textarea {
    display: block;
  }
  textarea {
    width: 100%;
  }
  #student_note_tag_list {
    width: 100%;
  }
}

// responsive stuff.. media queries

@media screen and (max-width: 992px) {

  #student_note_tag_list {
    width:100%;
  }
}

@media screen and (max-width: 1200px) {
  .context-list{
    text-align: left;
    * {
      display: inline-block;
    }
    ul {
      li {
        display: inline-block;
        padding-left: 8px;
      }
    }
  }

}

@media screen and (max-width: 480px) {
  .main-body {
    margin-top:0px;
  }


  .homepage-sidebar{
    text-align: center;
    margin-top: 0;
    ul {
      padding: 0;
    }
  }
  .new_student_note {
    text-align: center;
    select {
      width: 45%;
    }
    input[type="submit"] {
      width: 45%;
    }
    .goto-class-link {
      float: none;
      width: 100%;
      display: block;
      margin-top: 10px;
    }
  }
}
