<div class="col-md-10 col-md-offset-1 footer">
  <p>©2016 <a href="http://codyloyd.com">Cody Loyd</a> <br>
    view project on <a href="https://github.com/codyloyd/anecdotal_notes">github</a>
  </p>
</div>
